<!-- templates/books/book_detail.html -->
{% extends "base.html" %}

{% block content %}

<div class="container card book-detail">

    <section class="book-detail-header">
        <p class="flex book-detail__nav">
            <a class="flex" href="/"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
                Katalog 
            </a>
            >
            <span>{{book.title}}</span>
        </p>

        <a href="/" class="flex book-card__back"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-undo2-icon lucide-undo-2"><path d="M9 14 4 9l5-5"/><path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/></svg>
            Wróć
        </a>
    </section>

    <div class="book-detail__layout">
         <section class="book-detail__image-wrapper">
            <img src="{{ book.cover }}" alt="Okładka: {{ book.title }}" class="book-card__image">
         </section>

        <section class="book-detail__content">
            <h1>{{ book.title }}</h1>
            <p class="flex book-detail__author">

                {{ book.author.full_name }}

            <attr title="Wszystkie książki od {{book.author}}">
                <a href="/?filter_by=author&q={{book.author}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-funnel-icon lucide-funnel"><path d="M10 20a1 1 0 0 0 .553.895l2 1A1 1 0 0 0 14 21v-7a2 2 0 0 1 .517-1.341L21.74 4.67A1 1 0 0 0 21 3H3a1 1 0 0 0-.742 1.67l7.225 7.989A2 2 0 0 1 10 14z"/></svg>
                </a>
                </attr>
            </p>

            <p class="flex book-detail__grene"> 
                {{ book.genre.name }}
                <attr title="Wszystkie książki z gatunku {{book.genre}}">
                    <a href="/?filter_by=genre&q={{ book.genre.name }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-funnel-icon lucide-funnel"><path d="M10 20a1 1 0 0 0 .553.895l2 1A1 1 0 0 0 14 21v-7a2 2 0 0 1 .517-1.341L21.74 4.67A1 1 0 0 0 21 3H3a1 1 0 0 0-.742 1.67l7.225 7.989A2 2 0 0 1 10 14z"/></svg>
                    </a>
                </attr>
            </p>
            
            <article class="article">
                {{ book.description }}
            </article>

            <section class="book-detail__reserve">
                <h3>Dostępna ilość: &nbsp;&nbsp;&nbsp; {{ available_copies }}</h3>
                    
                {% if user.is_authenticated %}

                {% if available_copy %}
                <form method="post" action="{% url 'reserve_book' available_copy.id %}">    

                    {% csrf_token %}
                    <button type="submit" class="book-card__button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-basket-icon lucide-shopping-basket"><path d="m15 11-1 9"/><path d="m19 11-4-7"/><path d="M2 11h20"/><path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4"/><path d="M4.5 15.5h15"/><path d="m5 11 4-7"/><path d="m9 11 1 9"/></svg>

                        Zarezerwuj
                    </button>
                </form>
                {% else %}
                    <p>Brak dostępnych egzemplarzy</p>
                {% endif %}
                {% else %}
                <a class="book-card__button" href="/login?next={{ request.path }}">
                    Zaloguj się, aby rezerwować
                </a>

                {% endif %}
            
            </section>
        </section>
        
    </div>
    {% endblock %}