<form method="get" class="search-form">
        <div class="flex">
                <input type="text" name="q" autocomplete="off" placeholder="Szukaj w katalogu" value="{{ request.GET.q }}">
                <button type="submit">Szukaj</button>
        </div>
        
        <div class="search-filters">
                <label>
                <input type="radio" name="filter_by" value="title" 
                   {% if request.GET.filter_by == "title" or not request.GET.filter_by %}checked{% endif %}>
                Tytuł
                </label>

                <label>
                <input type="radio" name="filter_by" value="author"
                   {% if request.GET.filter_by == "author" %}checked{% endif %}>
                Autor
                </label>

                <label>
                        <input type="radio" name="filter_by" value="genre"
                           {% if request.GET.filter_by == "genre" %}checked{% endif %}>
                Gatunek
                </label>
        </div>
</form>